<h2>Create Genre</h2>
<form [formGroup]="form" (submit)="saveChanges()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="form.controls.name" />
    <mat-error>{{ getErrorMessageForName() }}</mat-error>
  </mat-form-field>

  <div>
    <button
      class="button-container"
      [disabled]="form.invalid"
      type="submit"
      mat-flat-button
    >
      saveChanges
    </button>
    <a routerLink="/genres" mat-stroked-button>Cancel</a>
  </div>
</form>

<!-- Form Structure: The form is set up to let users enter a genre name. It’s
managed by Angular’s Reactive Forms, which keeps track of the form’s value and
validation. [formGroup]="form" binds the form in the template to a form group
defined in the component’s TypeScript code. This helps Angular manage the form's
state. Form Fields: Inside the form, there’s a text input field where users can
enter the name of the genre they want to create. form.controls.name connects the
input to the name control within the form, so Angular knows this field is part
of the form and can track its value -->
