<button (click)="addMovie()">Add Movie</button>

<ng-content select="[elements]">
  <ng-container content>
    <dir *ngFor="let movie of movies; let i = index">
      <div class="movie-containtar">
        <div>
          @if (movie.poster) {
          <img
            [ngSrc]="movie.poster"
            priority="movie.poster"
            width="164"
            height="100"
          />
          } @else {
          <img src="blank.jpg" />
          }
        </div>
        {{ i + 1 }})
        <div>Title: {{ movie.title | uppercase }}</div>
        <div>Price: {{ movie.Price | currency }}</div>

        <div>Release Date {{ movie.releaseDate | date : "YYYY/MM/dd" }}</div>
      </div>
    </dir>
  </ng-container>
</ng-content>
