<button (click)="addMovie()">Add Movie</button>
<app-generic-list [elements]="movies">
  <ng-container content>
    <div *ngFor="let movie of movies; let i = index" class="movie-container">
      <div>
        <img
          *ngIf="movie.poster; else noPoster"
          [ngSrc]="movie.poster"
          width="164"
          height="100"
        />
        <ng-template #noPoster>
          <img src="blank.jpg" />
        </ng-template>
      </div>
      <div>{{ i + 1 }}) Title: {{ movie.title | uppercase }}</div>
      <div>Price: {{ movie.Price | currency }}</div>
      <div>Release Date: {{ movie.releaseDate | date : "yyyy/MM/dd" }}</div>
    </div>
  </ng-container>
</app-generic-list>
