<mat-toolbar class="fixed-top">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon>
      Angular Movies
    </a>
  </span>

  <div>
    <a mat-button routerLink="/genres"> Geres </a>
  </div>
</mat-toolbar>

<!-- 
<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Application</span>

  <span class="spacer"></span>

  <button mat-button>Home</button>
  <button mat-button>About</button>
  <button mat-button>Contact</button>
</mat-toolbar> -->
