<app-generic-list [elements]="movies">
  <ng-container content>
    <div class="movies-container">
      <div *ngFor="let movie of movies; let i = index" class="movie-item">
        <!-- Movie Poster -->
        <div class="movie-poster">
          <img
            *ngIf="movie.poster; else noPoster"
            [ngSrc]="movie.poster"
            width="164"
            height="100"
          />
          <ng-template #noPoster>
            <img src="blank.jpg" width="164" height="100" />
          </ng-template>
        </div>

        <!-- Movie Details -->
        <div class="movie-details">
          <h3>{{ movie.title | uppercase }}</h3>
          <p>Price: {{ movie.Price | currency }}</p>
          <p>Release Date: {{ movie.releaseDate | date : "yyyy/MM/dd" }}</p>
        </div>

        <!-- Edit and Delete Buttons -->
        <div class="movie-actions">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-list>
